
/* CSS Document */

a, #lp-contacts li span,#portfolio-filter li a:hover,
#portfolio-filter li.activeFilter a, .portfolio-item:hover h3 a, .entry_date div.post-icon, .entry_date div.post-icon, .entry_meta li a:hover, .ipost .ipost-title a:hover, .promo h3 > span, .error404, .tab_widget ul.tabs li.active a, .product-feature2:hover span, .product-feature4 .fa, .type2 .left-icon, .type3 .left-icon, .type4 .left-icon, .team-skills li span, .blue_btn, .best-price .pricing-title h4, .best-price .pricing-price, .acctitlec, #footer.footer-light .post-bg a:hover, .icon-right, .accordion .in_head:before, .blu, .blu a, .team-blanck h4, .view-detail h4, .rmore a, .leftprev a, .rightnext a, .wid-cate a:hover, .twitter-posts p span, .list_style li a:hover, .list_style li i, .menu ul ul li a:hover, .menu ul li a:hover, .menu ul ul li a:active,.menu ul ul li:hover, .header5 .mega-menu ol li:hover,.header5 .mega-menu ol li a, .header5 .menu ul li ul li a, .mega-menu ol li a:hover, .blue-txt, #top-menu li a:hover, .comment-content .comment-author a:hover, .circle2.product-feature3 .fa
 {	color: #34495e;}

#top-bar, .portfolio-overlay, #portfolio-navigation a:hover, .entry_date div.day, .sidenav > .active > a,
.sidenav > .active > a:hover, .product-feature img, .product-feature  span, .product-feature3 img,
.product-feature3 > span, .team-image span, 
.icon-rounded:hover,
.icon-circled:hover, .pricing-style2 .best-price .pricing-price, #twitter-panel, #gotoTop:hover, a.twitter-follow-me:hover,
#footer.footer-dark a.twitter-follow-me:hover, .tagcloud a:hover,
#footer.footer-dark .tagcloud a:hover, .widget-scroll-prev:hover,
.widget-scroll-next:hover,
#footer.footer-dark .widget-scroll-prev,
#footer.footer-dark .widget-scroll-next, .view-detail, .pagination ul > li > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span, .icon_lists .fa-hover a:hover, .clander-left .datemonth, h3:before, .signup, #footer.footer-dark .widget h4:before, .blue-sec , .topouther, .heigh, .stretched #page-title, .entry_title h4:before, .widget h4:before, .postcontent h4:before , .panel-left-icon , .error404-meta input[type="submit"], .lp-subscribe input[type="submit"], .product-feature4:hover span, #footer.footer-light .widget h4:before, #portfolio-details-wrap .port-details h4:before, #portfolio-related h4:before, .simple-button.inverse, .simple-button:hover, .simple-button:hover, .become-prtner a, .res-desig i, .dropcap1{
   background-color: #34495e;
   
}
.blu, .blu a  {color: #34495e !important;}
#top-menu li a:hover { border-bottom: 1px dotted #34495e;}
.rs-thumb-wrap a.active,  .mega-menu, .menu ul ul, .topouther:after, .tab_widget ul.tabs li.active { border-top-color: #34495e; }
.portfolio-item:hover .portfolio-title, .portfolio-title, .promo , .testimonial-item .testi-content, .testimonials.dark .testi-content{ border-bottom-color: #34495e; }
.comment-content .comment-author a:hover , #footer, .type2 .left-icon, .type3 .left-icon, .circle2.product-feature3 img, .circle2.product-feature3 > span, .product-feature4 img, .product-feature4 span{ border-color: #34495e;}
#footer.footer-dark .portfolio-item:hover .portfolio-title , .big-head:before, #portfolio-filter li.activeFilter{ border-bottom-color: #34495e; }
.our-clients li:hover, .featured-thumbnail img:hover { border-color: #34495e; }

.side-tabs ul.tabs li.active, .side-tabs ul.tabs li:hover, .panel-left-icon:after {border-left-color: #34495e;}
.type2 .left-icon, .type3 .left-icon { box-shadow: 0 4px 0 #34495e;}

.left-icon { background-color:#1c3955;  box-shadow: 0 1px 0 rgba(0, 0,0 , 0.3);}
.left-icon:after {border-left-color: #1c3955;}

#logo a{ background:url(../../assets/logo-4.png) no-repeat;}


