<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>Thanks for Visiting</title>
<link href='http://fonts.googleapis.com/css?family=Bree+Serif%7COpen+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="assets/style.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="assets/style.css" media="screen" data-name="skins">
<link rel="stylesheet" type="text/css" href="assets/allstyle.css">
<!--[if lt IE 9]>
    	<script src="http://css3-mediaqueries-assets/.googlecode.com/svn/trunk/css3-mediaqueries.assets/"></script>
<![endif]-->
<script type="text/javascript" src="assets/jquery.js"></script>
<script type="text/javascript" src="assets/modernizr.js"></script>
</head>
<body class="stretched">
<div id="wrapper" class="clearfix">
  <div id="top-bar"> </div>
  <div class="cbp-af-header">
    <div class="cbp-af-inner">
      <div id="header">
        <div class="container clearfix">
          <div id="logo"> <%= link_to 'Home', '/' %></div>
          <div class="social-sec"> <a class="tw" href="https://twitter.com/search?f=realtime&q=%2364browns&src=typd" target="blank"></a> <a class="fb" href="https://www.facebook.com/WRHistoricalSociety" target="blank"></a>  <a class="v" href="https://www.youtube.com/watch?v=vGQai2yKdKg" target="blank"></a> </div>
		   <a href="#" class="openmenu"><i class="fa fa-bars"></i></a>
          <script>
      $(document).ready(function(){
"use strict";
      $('a.openmenu').on('click',function(){
         $(".closed").toggleClass('opened');
      });
 });
</script>
          <div id="primary-menu" class="menu closed">
            <ul class="menu">
             <!--  <li><a href="Browns-Home.html" > Home</a> -->
             <li><%= link_to 'Home', '/' %> 
              </li>
<!--               <li><a href="Browns-About.html" > About the Exhibit</a>
              </li>
              <li><a href="Browns-Portfolio.html" > Players' Thoughts</a>
              </li>
              <li><a href="Browns-Blog.html" >What's New</a>
              </li> -->
<!--               <li><a href="visit.html.erb" >Visit</a>
              </li>
              <li><a href="involved.html" >Get Involved</a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="content">
    <div id="page-title">
      <div id="title-inner">
        <div class="container clearfix">
          <h1>Thanks for Visiting!<span></span></h1>
        </div>
      </div>
      <div class="shadow-sec"></div>
    </div>
    <div class="content-wrap">
      <div class="container clearfix">
        <div class="col_full">
          <div class="big-head">
            <!-- <h3>Thank You For Visiting!</h3> -->
            <h4 style="text-align: center"> We hope that you enjoyed your visit and we hope to see you again soon! </h4 style="text-align: center">
          </div>
          <div class="service-panel">
            <div class="col_two_fifth"> <img src="assets/logo-BTL.jpg" alt="" /> 
            	<br> </br>
            	<h3>Did You Know?<span>&nbsp;</span></h3>
            	<p> You can follow WRHS on Facebook, and share your photos with us!  If you click the box below and then click "like", you can tag us in your photos of the exhibit, and we'll keep you updated on the latest news at WRHS. </p>
            	<div class="col_full">
                  <span class="become-prtner"><a href="https://www.facebook.com/WRHistoricalSociety" target="_blank">Follow Us on Facebook</a></span>
                  </div>
            </div>
            <div class=" col_three_fifth col_last">
            <h3>Want to Get Involved?<span>&nbsp;</span></h3>
                          <p> The Cleveland Browns beat the favored Baltimore Colts to win the NFL Championship 27-0 in front of over 79,000 fans on December 27, 1964. The 2014 NFL season marks the 50th anniversary of that championship, as well as the 50th anniversary of Cleveland’s last major professional team winning a championship title. The exhibit celebrates the enduring story of the Cleveland Browns, and places the team and championship win within the context of Cleveland and the United States in 1964.  The items in the exhibit convey the enthusiasm and excitement of this historic occasion in Cleveland, and the story is now available for younger generations to enjoy.
                            </p>
                            <p>There are a number of ways you can get involved with WRHS, listed below. Your support not only benefits the 1964: When Browns Town Was Title Town exhibit, but allows WRHS to fulfill its mission: To inspire people to discover the American experience by exploring the tangible history of Northeast Ohio. </p>
                          <ul class="star-bul">
                            <li>Become a WRHS member and receive free, unlimited admission to the History Center, Research Library, and Hale Farm & Village.</li>
                            <li>Make a donation to the Annual Fund to keep the rich history of this fascinating region, the stories of its people, places, industry, and culture alive.</li>
                            <li>Join the long-time legacy of volunteerism at WRHS and become a part of our history today!</li>
              </ul>
              <div class="col_one_half">
                  <span class="become-prtner"><a href="https://www.wrhs.org/Form/WRHS_Become_Member-2" target="blank">Memberships</a></span>
                  <div class=" col_one_half col_last">
                      <span class="become-prtner"><a href="https://www.wrhs.org/Form/WRHS_Donate" target="blank">Donations</a></span>
                      </div>
                </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="filter-holder clearfix">
          <!-- <div class="col_one_third">
            <div class="viewdetail-hover">
              <div class="hover-detail">
                <div class="web-top"><i class="fa fa-desktop"></i>
                  <h4>Web Designing</h4>
                </div>
                <p> Aliquam erat volutpat. Etiam eu euismod Sed enim libero, varius ut condimentum. Libero, varius ut ellentesque nec mais tupis Vim us eu leo libero. Mus vestibulum. </p>
                <div class="clear"></div>
              </div>
              <div class="view-detail">
                <div class="hover-detaillink">
                  <div class="hover-detail">
                    <div class="res-desig"><i class="fa fa-desktop"></i>
                      <h4>Web Designing</h4>
                    </div>
                    <span class="detail-icon"><a href="#">View Details</a></span>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col_one_third">
            <div class="viewdetail-hover">
              <div class="hover-detail">
                <div class="web-top"><i class="fa fa-bullhorn"></i>
                  <h4>Responsive Design</h4>
                </div>
                <p> Aliquam erat volutpat. Etiam eu euismod Sed enim libero, varius ut condimentum. Libero, varius ut ellentesque nec mais tupis Vim us eu leo libero. Mus vestibulum. </p>
                <div class="clear"></div>
              </div>
              <div class="view-detail">
                <div class="hover-detaillink">
                  <div class="hover-detail">
                    <div class="res-desig"><i class="fa fa-bullhorn"></i>
                      <h4>Responsive Design</h4>
                    </div>
                    <span class="detail-icon"><a href="#">View Details</a></span>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col_one_third col_last">
            <div class="viewdetail-hover">
              <div class="hover-detail">
                <div class="web-top"><i class="fa fa-code"></i>
                  <h4>Clean Code</h4>
                </div>
                <p> Aliquam erat volutpat. Etiam eu euismod Sed enim libero, varius ut condimentum. Libero, varius ut ellentesque nec mais tupis Vim us eu leo libero. Mus vestibulum. </p>
                <div class="clear"></div>
              </div>
              <div class="view-detail">
                <div class="hover-detaillink">
                  <div class="hover-detail">
                    <div class="res-desig"><i class="fa fa-code"></i>
                      <h4>Clean Code</h4>
                    </div>
                    <span class="detail-icon"><a href="#">View Details</a></span>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col_one_third">
            <div class="viewdetail-hover">
              <div class="hover-detail">
                <div class="web-top"><i class="fa fa-bookmark-o"></i>
                  <h4>Social Bookmaring</h4>
                </div>
                <p> Aliquam erat volutpat. Etiam eu euismod Sed enim libero, varius ut condimentum. Libero, varius ut ellentesque nec mais tupis Vim us eu leo libero. Mus vestibulum. </p>
                <div class="clear"></div>
              </div>
              <div class="view-detail">
                <div class="hover-detaillink">
                  <div class="hover-detail">
                    <div class="res-desig"><i class="fa fa-bookmark-o"></i>
                      <h4>Social Bookmaring</h4>
                    </div>
                    <span class="detail-icon"><a href="#">View Details</a></span>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col_one_third">
            <div class="viewdetail-hover">
              <div class="hover-detail">
                <div class="web-top"><i class="fa fa-linux"></i>
                  <h4>Support All</h4>
                </div>
                <p> Aliquam erat volutpat. Etiam eu euismod Sed enim libero, varius ut condimentum. Libero, varius ut ellentesque nec mais tupis Vim us eu leo libero. Mus vestibulum. </p>
                <div class="clear"></div>
              </div>
              <div class="view-detail">
                <div class="hover-detaillink">
                  <div class="hover-detail">
                    <div class="res-desig"><i class="fa fa-linux"></i>
                      <h4>Support All</h4>
                    </div>
                    <span class="detail-icon"><a href="#">View Details</a></span>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col_one_third col_last">
            <div class="viewdetail-hover">
              <div class="hover-detail">
                <div class="web-top"><i class="fa fa-html5"></i>
                  <h4>Html5 & Css3</h4>
                </div>
                <p> Aliquam erat volutpat. Etiam eu euismod Sed enim libero, varius ut condimentum. Libero, varius ut ellentesque nec mais tupis Vim us eu leo libero. Mus vestibulum. </p>
                <div class="clear"></div>
              </div>
              <div class="view-detail">
                <div class="hover-detaillink">
                  <div class="hover-detail">
                    <div class="res-desig"><i class="fa fa-html5"></i>
                      <h4>Html5 & Css3</h4>
                    </div>
                    <span class="detail-icon"><a href="#">View Details</a></span>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div id="footer" class="footer-dark">
      <div class="topouther">
        <div class="container clearfix">
          <div class="col_two_third">
            <div class="home-left"><i class="fa fa-home"></i><span>10825 East Boulevard, Cleveland, OH</span></div>
            <div class="no-mid"><i class="fa fa-mobile"></i><span>(216) 721-5722</span></div>
            <div class="msg-right"><i class="fa fa-envelope-o"></i><span><a href="mailto:contact@wrhs.org" target="blank">contact@wrhs.org</a></span></div>
          </div>
          <div class="col_one_third col_last mar-bot0">
            <div class="social-icons"> <a class="tw" href="https://twitter.com/search?f=realtime&q=%2364browns&src=typd" target="blank"></a> <a class="fb" href="https://www.facebook.com/WRHistoricalSociety" target="blank"></a>  <a class="vi" href="https://www.youtube.com/watch?v=vGQai2yKdKg" target="blank"></a> </div>
              <!--Vimeo link is stand in - used Lufthouse channel-->
          </div>
        </div>
      </div>
      <div class="footer-bg">
        <div class="container clearfix">
          <div class="footer-widgets-wrap clearfix">
            <div class="col_one_fourth">
              <div class="widget clearfix">
                <h4>Newsletter</h4>
                <div class="left-newsletter clearfix">
                  <p> Interested in receiving email updates? Sign up below! </p>
                  <input name="" type="text" placeholder="Type Email" class="email-type">
                  <input name="Sign Up" type="submit" class="signup" value="Sign Up" >
                </div>
              </div>
            </div>
            <div class="col_one_fourth">
              <div class="widget widget_links clearfix">
                <h4 class="widget-title">Latest Tweets</h4>
                <div class="latest-tw clearfix">
                  <div class="twitterdiv">
                  <a class="twitter-timeline" href="https://twitter.com/hashtag/64browns" data-widget-id="505422366466273280">#64browns Tweets</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                  </div>
                </div>
              </div>
            </div>
<!--        <div class="col_one_fourth">
              <div id="flickr_widget-1" class="widget latestpost clearfix">
                <h4 class="widget-title">Latest Post </h4>
                <div class="post-bg clearfix">
                  <div class="left-img"><img src="assets/footerimg.jpg" alt=""></div>
                  <div class="right-txt">
                    <p> <a href="#">Interesting words and stuff if we end up doing a blog</a> </p>
                  </div>
                </div>
                <div class="post-bg clearfix">
                  <div class="left-img"><img src="assets/footerimg2.jpg" alt=""></div>
                  <div class="right-txt">
                    <p> <a href="#">Could be used for "latest news" things</a> </p>
                  </div>
                </div> -->
          <!--     </div> -->
         <!--    </div> -->
            <div class="col_one_fourth">
              <div class="widget flickr-widget clearfix">
                <h4>About the Technology</h4>
                <div id="flickr_widget" class="flickrfeed">
                 <p>Questions about the site? Contact info@lufthouse.com.</p>
                 <p>Want to know more about the app? Visit the website by clicking the logo below!</p>
                 <a href="http://www.lufthouse.com" target="_blank"><img src="assets/lufthouse_white.png" style="margin-left: 25%"></a></div>
              </div>
            </div>
<!--           </div>
        </div> -->
      </div>
    </div>
    <div class="clear"></div>
    <div id="copyrights" class="copyrights-dark">
      <div class="container clearfix">
        <div class="col_half"> Copyright 2012 - Lufthouse, Inc. </div>
        <div class="col_half col_last tright"> Made by <a href="www.lufthouse.com">Lufthouse, Inc.</a>  </div>
      </div>
    </div>
  </div>
  <div id="gotoTop" class="fa fa-angle-up"></div>
</div>
    
<script type="text/javascript" src="assets/plugins.js/"></script>
<script type="text/javascript" src="assets/custom.js/"></script>
<script src="assets/sticky-header.js/"></script>
<script type="text/javascript" src="assets/jquery.cookie.js/"></script>
<script type="text/javascript" src="assets/styleswitch.js/"></script>

<div class="switcher"></div>
</body>
</html>
